@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0px;
  padding: 0px;
}
.customers {
  width: 100%;
}
.customers > th,
tr {
  text-align: left;
  color: white;
  font-size: 13px;
  border-bottom: 1px solid #3b3b43;
}
.customers tr:last-child {
  border-bottom: none;
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #202028;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 10px;
    border: 2px solid transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #6b7280;
  }
}
